<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>todoList</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue" />
            <button @click="handleSubmit">提交</button>
        </div>
        <ul>
            <todo-item 
            v-for="(item, index) of list" 
            :key="index"
            :content="item"></todo-item>
        </ul>
    </div>
    <script>
        // 全局组件
        Vue.component('todo-item',{
            props: ['content'],
            template: '<li>{{content}}</li>'
        });

        new Vue({
            el: "#root",
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                handleSubmit: function(){
                    if(this.inputValue == ""){
                        alert("请输入内容");
                    }else{
                        this.list.push(this.inputValue);
                        this.inputValue = "";
                    }
                }
            },
        });
    </script>
</body>
</html>